<div class="heading"> <h1>iCash</h1> </div> <br>

<h3 class="intro">Keep track of your cash in a flash.</h3>

<!--<a href="/logout">Log out</a>-->

<div id="homepage-buttons">
    <a href="/register"> <button type="button" class="btn btn-info btn-lg"> <i class="fa fa-hand-o-right" aria-hidden="true"></i>Sign Up</button></a>
    <a href="/login"> <button class="btn btn-success btn-lg"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Login</button></a>
</div>
