
<div><h2 class="login">Cool. Go ahead, login</h2></div>


<div class="login-form">
    <form method="POST" action="login">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" value="">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" value="">
        </div>
        <div>
            <input id="login-button" type="submit" value="Login">
        </div>
    </form>

</div>